{% extends "base.html" %}

{% block title %}Booking Form{% endblock %}

{% include 'navbar.html' %}

<body class="container-fluid">
    <main class="row">
        {% block content %}
        <div class="d-flex justify-content-center align-items-center vh-100 homepage_image">
            <div class="card p-4 semi-transparent-card">
                <div class="card-body">
                    {% if error %}
                        <h6 class="text-danger">{{ error }}</h6>
                    {% endif %}
                    <form action="{{ url_for('post_booking', user_id=user_id, space_id=space_id, error=error) }}" method="POST">
                        <div class="form-group mb-3">
                            <label for="date_booked">Date</label>
                            <input type="date" class="form-control" name="date_booked" id="date_booked" required>
                        </div>
                        <div class="d-grid gap-2">
                            <input type="submit" class="btn btn-primary btn-block" value="Confirm booking">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</main>